/* logo, search, and botton for both pages */
.main {
  margin-top: 100px;
}
img {
  width: 150px;
  margin-top: 100px;
  margin-right: 20px;
  display: block;
  margin: auto;
}
input {
  width: 400px;
  border-radius: 20px;
  border-color: #c4c4c4;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}
button {
  margin-top: 15px;
  width: 80px;
  border-color: #1a5fd0;
  background-color: #4285f3;
  padding: 3px 10px;
  color: white;
  border-radius: 3px;
  margin-top: 20px;
  margin: auto;
  display: block;
}
button:hover {
  background-color: #5998ff;
}
