* {
  margin: 0;
  padding: 0;
}
/* logo, search, and botton for both pages */

input.search-bar {
  color: grey;
  border-radius: 5px;
  width: 40vw;
}
button {
  width: 80px;
  border-color: 1a5fd0;
  background-color: 4285f3;
  padding: 3px 10px;
}
button:hover {
  background-color: 5998ff;
}
