/* logo, search, and botton for both pages */
.main {
  margin-top: 100px;
}
.main img {
  display: block;
  margin: auto;
}
img {
  width: 150px;
}
.main input {
  display: block;
  margin: 20px auto;
}
input {
  width: 400px;
  border-radius: 20px;
  height: 30px;
  border: 2px solid #c4c4c4;
  color: #5b5b5b;
}
.main button {
  margin-top: 15px;
  width: 80px;
  border-color: #1a5fd0;
  background-color: #4285f3;
  padding: 3px 10px;
  color: #c373fe;
  border-radius: 3px;
  margin: 20px auto;
  display: block;
}
button:hover {
  background-color: #5998ff;
}
